<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Simple E-commerce</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">"Welcome to our e-commerce site! We are thrilled to have you here and would like to take a moment to introduce ourselves.
Our mission is to provide a seamless and enjoyable shopping experience for our customers. We believe that shopping should be fun and hassle-free, which is why we have designed our site to be user-friendly and easy to navigate.
Our product selection is carefully curated to ensure that we offer only the best quality products at competitive prices. From electronics and home appliances to fashion and beauty products, we have something for everyone.
  At our e-commerce site, we value our customers and strive to provide exceptional customer service. Our team of dedicated customer support specialists is always ready to assist you with any questions or concerns you may have." </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>

</html>
